<div class="footer" ng-controller="footer">
	<div class="footers left {{timesheetAct}}">
		<div class="footer_active" ng-hide="timesheet">
			<div class="blur" ></div>
		</div>
		<div class="footer_container" ng-click="go('timesheet')">
			<div class="timesheet_footer"></div>
			<a href="#/timesheet" class="footer_link">Timesheet</a>
		</div>
	</div>
	<div class="footers left {{expenseAct}}">
		<div class="footer_active" ng-hide="expense">
			<div class="blur" ></div>
		</div>
		<div class="footer_container" ng-click="go('expenses_list')">
			<div class="expenses_footer"></div>
			<a href="#/expenses_list" class="footer_link" >Expenses</a>
		</div>
	</div>
	<div class="footers left {{pendingAct}}">
		<div class="footer_active" ng-hide="pending">
			<div class="blur" ></div>
		</div>
		<div class="footer_container" ng-click="go('pending')">
			<div class="pending_footer"></div>
			<a href="#/pending" class="footer_link" >Pending</a>
		</div>
		<div class="items" ng-hide="pend">{{items}}</div>
	</div>
	<div class="footers left footer_last {{accountAct}}">
		<div class="footer_active" ng-hide="account">
			<div class="blur" ></div>
		</div>
		<div class="footer_container" ng-click="go('account')" >
			<div class="account_footer"></div>
			<a href="#/account" class="footer_link">Account</a>
		</div>
	</div>
</div>