<div class="logo">&nbsp;</div>
<div class="content">
	<p>Get integrated &#45; Grow your business</p>
</div>
<div class="loginForm">
	<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>	 
	<form>
		<input type="text" name="username" value="" maxlenght="50" class="text" placeholder="Username" ng-model="username" autocomplete="OFF" />
		<input type="password" name="password" value="" maxlenght="50" class="password" placeholder="Password" ng-model="password" autocomplete="OFF" />
		<input type="submit" class="submit" value="Login" ng-click="fetch()">
	</form>
	<div>
		<a href="#" id="forgot">Can't access your account?</a>
	</div>
</div>	