<div ng-include="'layout/header.html'" />
<div id="page" class="scroller">
	<!-- <div class="loading scroller modal-backdrop fade in"></div> -->
	<ul>
		<li ng-repeat="project in projects" class="projects" ng-hide="project.date">
			<p class="projectName">{{getP(project.id)}}</p>
			<ul>
				<li ng-repeat="task in project.tasks" class="taskDetail" ng-click="editTask(project.id, task.task_id, task.notes, getP(project.id), task.customer_id, task.task_time_id )" ng-hide="task.date">
					<span class="right arrow"></span>
					<div class="right hourContainer {{task.active}}">
						<span class="clock left"></span><span class="hours left">{{showh(task.hours)}}</span>
					</div>
					<span class="taskName">{{getTaskName(project.id, task.task_id)}}</span>
				</li>
			</ul>	
		</li>
	</ul>
	<div class="no_data" ng-hide="no_project" >
		<div class="loginForm">
			<p>No data to display</p>
			<form>
				<input type="submit" class="submit" value="Add new task" ng-click="addNewTask()">
			</form>	
		</div>
	</div>
</div>
<div data-ng-include="'layout/footer.html'" />